/*
Top
*/
#top{
	height: 60px;
	background: $header-background;
	color: $header-color;
	width: 100%;
	position: fixed;
	z-index: 900;
	top: 0 !important;
	left:0 !important;
	.toprow{
		margin: 0px 15px 0 15px;
		.btnmenu{
			color: #fff;
			line-height: 60px;
			font-size: 32px;
		}
		.btnrefresh{
			color: green;
			line-height: 60px;
			font-size: 32px;
		}
                
                .logo-container{
                        width: auto;
                        height: 60px;
                        color: #fff;
                        position: relative;
                        padding: 5px 15px 0 0px;
                        float: left;
                        vertical-align: middle;
                        z-index: 9999;
                        
                        .logo{
                            height: 50px;	
                        }
			
                        .logomobile{
                                display: none;
                                width: 40px;
                                height: 40px;
                                margin-top: 5px;
				line-height: 45px;
                        }
                }
                
                .title-container{
                        
                        height: 60px;
                        color: #fff;
                        position: relative;
                        padding: 5px 0 0 0px;
                        float: left;
                        
                        vertical-align: middle;
                        line-height: 12px;
                        
                        h5.title{
                                padding-left: 15px;
                                border-left: 1px solid #636363;
                                color: #fff;
                                text-transform: uppercase;
				font-weight: 600;
                        }
                        
                }
            .top-right{
                    line-height: 1.8em;
                    float: right;
                    padding-right: 0px;
                    padding-left: 10px;
                    padding-top: 15px;
                    font-weight: 600;
            
                    
                    .about{
                            border-right: 1px solid #636363;
                            padding-right: 20px;
                            padding-right: 15px;
                    }
                    .link{
                            display:inline-block;
                            padding-left: 8px;
                            height: 30px;
                            a{display: block;}
                    }
            
                    .dropdown-menu{
                            min-width: 135px;
                            .list-title{
                                    text-align: center;
                            }
                            li{
                                    position: relative;
                                    display: block;
                            }
                    }
            
            
            
                    a{color: #fff;}
            
            
                    /* profile box */
                    .profilebox{
                            color:rgba(255, 255, 255, 0.95);
                            img{
                                    width: 32px;
                                    height: 31px;
                                    float: left;
                                    border-radius: 100%;
                                    margin-right: 7px;
                                    margin-top: -4px;
                            }
                            .caret{
                                    margin-left: 5px;
                                    color:rgba(255, 255, 255, 0.5);
                            }
                    }
            
                    .profilebox:hover{
                            color: #fff;
                    }
            
            
                    /* notifications */
                    .notifications{
                            color: #fff;
                            padding: 4px 12px;
                            font-weight: bold;
                            background: rgba(0, 0, 0, 0.4);
                            border-radius: 999px;
                    }
                    .notifications:hover{
                            background: rgba(0, 0, 0, 0.5);
                    }
            
                    /* notifications */
                    .socialmedia{
                            color: #fff;
                            background: rgba(66, 66, 66, 1);
                            font-family: FontAwesome;
                            font-size: .975em;
                            width:32px;
                    }
                    .socialmedia:hover{
                            background: $blue;
                    }
                    
                    /* hd button */
                    .hdbutton{
                            background: #fff;
                            color: #404B5F;
                            padding: 4px 16px;
                            border-radius: 999px;
                    }
                    .hdbutton:hover{
                            background: rgba(255, 255, 255, 0.95);
                    }
            }
                
	}
	
}
