<html>
    <head>
    </head>
    <body>
        <h2>Some page title.</h2>
        <table width="100%" cellpadding="4" cellspacing="0">
            <tbody>
                <tr>
                    <td width="100%">Some text.</td>
                </tr>
            </tbody>
            <tbody>
                <tr style="border: 1px solid #000000;">
                    <td width="100%">
                        <h3 style="text-align: center;">Some subtitle</h3>
                        <div>Meuh meuh meuh</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr style="margin: 3em 0;"/>
    </body>
</html>