<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h2>Contrats de la Ville de Montréal</h2>
        <table width="100%" cellpadding="4" cellspacing="0">
            <tbody>
                {% for release in data.releases %}
                    <tr style="border: 1px solid #000000;"><td>{{ release.id }}</td><td>{{ release.tender.description }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <hr style="margin: 3em 0;"/>
    </body>
</html>